*{
  margin: 0;
  padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background- image: linear-gradient(rgba(4,9,30,0.7)),rgba(4,9,30,0.7)),url(https://media.discordapp.net/attachments/837219050908155914/864434745898958848/3419871.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

